/* Adjust all colors */

h1 {
  font-family: Bell MT;
  font-size: 225%;
  padding-left: 7px;
}

h2 {
  padding-left: 7px;
}

h4 {
  padding-left: 7px;
}

a {
  padding-left: 7px;
}

p {
  padding-left: 7px;
  font-size: 100%;
}

body {
	font-family: Futura;
  color: #f4f5f6;
  margin: 0;
  padding: 0;
  background-image: url("https://cloud.githubusercontent.com/assets/15823659/11649135/a82ae4fc-9d49-11e5-9dd0-b3e262c48bee.png")
}

img {
  float: left;
  padding-right: 9px;
  padding-left: 7px;
  width: 120px;
  height: 171;
}

footer p {
  font-size: 75%;
  text-align: center;
  font-family: Futura;
  position: absolute;
  top: 95%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

/* Start of Navigation Bar */
nav {
	background-color: #42687C;
	text-align: right;
}

nav ul {
  	list-style: none;
  	padding: 0px;
  	margin: 0px;
    position: relative;
    display: inline-table;
}

nav ul li {
	float: left;
	display: block;
	position: relative
    border-style: 0px solid #42687C;
}

nav ul li a {
	display: block;
	background: #42687C;
	padding: 7px 18px 5px 12px;
	text-decoration: none;
    white-space: nowrap;
    color: #f4f5f6;
    font-family: Futura;
    text-align: left;
}

nav ul li a:hover {
	color: #f4f5f6;
	background: #8096A6;
  padding: 7px 18px 5px 12px;
  white-space: nowrap;
}

nav ul li:hover ul {
	display:block;
	position: absolute;
}

nav ul ul {
	display: none;
	positon: absolute; top: 100%;
}

nav ul ul li {
	float: none;
	position: relative;
}

nav li:hover li {
	float: none;
}

nav li:hover a {
	background: #8096A6;
}

nav li:hover li a:hover {
	background: #b4bfc9;
}

/* When deleted still works fine? */
#drop-nav li ul li {
	border-top: 0px;
}
/* End Navigation Bar */

